@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-primary: #f59e0b;
  --color-brand-primary-hover: #d97706;
  --color-brand-secondary: #f97316;
  --color-success: #16a34a;
}
